COPILOTKIT_PORT={{ cookiecutter.copilotkit_port }}
BUB_AG_UI_AGENT_URL=http://127.0.0.1:{{ cookiecutter.gateway_port }}/agent
VITE_COPILOTKIT_RUNTIME_PROXY=http://127.0.0.1:{{ cookiecutter.copilotkit_port }}
VITE_BUB_AG_UI_URL=http://127.0.0.1:{{ cookiecutter.gateway_port }}
FRONTEND_PORT={{ cookiecutter.frontend_port }}
